<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>搜索页面</title>

		<link href="../AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css" />
		<link href="../AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css" />

		<link href="../basic/css/demo.css" rel="stylesheet" type="text/css" />

		<link href="../css/seastyle.css" rel="stylesheet" type="text/css" />

		<!--    angularJs settingfile-->
		<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
		<script type="text/javascript" src="../js/base.js"></script>
		<script type="text/javascript" src="../js/service/searchService.js"></script>
		<script type="text/javascript" src="../js/controller/searchController.js"></script>


		<script type="text/javascript" src="../basic/js/jquery-1.7.min.js"></script>
		<script type="text/javascript" src="../js/script.js"></script>

		<style type="text/css">
			.am-show{
				display: block;
			}
            .am-actives{
                background-color: cornflowerblue;
            }
		</style>

	</head>

	<body ng-app="shopFront" ng-controller="searchController" ng-init="loadkeywords()">

		<!--顶部导航条 -->
		<div class="am-container header">
			<ul class="message-l">
				<div class="topMessage">
					<div ng-if="username==''" class="menu-hd">
						<a href="./login.html" target="_top" class="h">亲，请登录</a>
						<a href="./register.html" target="_top">免费注册</a>
					</div>
					<div ng-if="username!=''" class="menu-hd">
						<a href="#" target="_top" class="h">欢迎您,{{username}}</a>
					</div>
				</div>
			</ul>
			<ul class="message-r">
				<div class="topMessage home">
					<div class="menu-hd"><a href="./home.html" target="_top" class="h">商城首页</a></div>
				</div>
				<div class="topMessage my-shangcheng">
					<div class="menu-hd MyShangcheng"><a href="../person/order.html" target="_top"><i class="am-icon-user am-icon-fw"></i>个人中心</a></div>
				</div>
				<div class="topMessage mini-cart">
					<div class="menu-hd"><a id="mc-menu-hd" href="./shopcart.html" target="_top"><i class="am-icon-shopping-cart  am-icon-fw"></i><span>购物车</span><strong id="J_MiniCartNum" class="h">0</strong></a></div>
				</div>
				<div class="topMessage favorite">
					<div class="menu-hd"><a href="./pay.html" target="_top"><i class="am-icon-heart am-icon-fw"></i><span>结算</span></a></div>
				</div>
			</ul>
			</div>

			<!--悬浮搜索框-->

			<div class="nav white">
				<div class="logo"><img src="../images/logo.png" /></div>
				<div class="logoBig">
					<li><img src="../images/logozz.gif" /></li>
				</div>

				<div class="search-bar pr">
					<a name="index_none_header_sysc" href="#"></a>
					<form>
						<input ng-model="key" id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off">
						<input ng-click="loadkey()" id="ai-topsearch" class="submit am-btn"  value="搜索" index="1" type="button">
					</form>
				</div>
			</div>

			<div class="clear"></div>
			<b class="line"></b>
           <div class="search">
			<div class="search-list">
			<div class="nav-table">
					   <div class="long-title"><span class="all-goods">全部分类</span></div>
					   <div class="nav-cont">
							<ul>
								<li class="index"><a href="home.html">首页</a></li>
                                <li class="qc"><a href="#">闪购</a></li>
                                <li class="qc"><a href="#">限时抢</a></li>
                                <li class="qc"><a href="#">团购</a></li>
                                <li class="qc last"><a href="#">大包装</a></li>
							</ul>
						    <div class="nav-extra">
						    	<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
						    	<i class="am-icon-angle-right" style="padding-left: 10px;"></i>
						    </div>
						</div>0
			</div>
			
				
					<div class="am-g am-g-fixed">
						<div class="am-u-sm-12 am-u-md-12">
	                  	<div class="theme-popover">														
							<!--<div class="searchAbout">
								<span class="font-pale">相关搜索：</span>
								<a title="坚果" href="#">坚果</a>
								<a title="瓜子" href="#">瓜子</a>
								<a title="鸡腿" href="#">豆干</a>

							</div>-->
					<!--		<ul class="select">
								<p class="title font-normal">
									<span class="fl">松子</span>
									<span class="total fl">搜索到<strong class="num">997</strong>件相关商品</span>
								</p>
								<div class="clear"></div>
								<li class="select-result">
									<dl>
										<dt>已选</dt>
										<dd class="select-no"></dd>
										<p class="eliminateCriteria">清除</p>
									</dl>
								</li>
								<div class="clear"></div>
								<li class="select-list">
									<dl id="select1">
										<dt class="am-badge am-round">品牌</dt>	
									
										 <div class="dd-conent">										
											<dd class="select-all selected"><a href="#">全部</a></dd>
											<dd><a href="#">百草味</a></dd>
											<dd><a href="#">良品铺子</a></dd>
											<dd><a href="#">新农哥</a></dd>
											<dd><a href="#">楼兰蜜语</a></dd>
											<dd><a href="#">口水娃</a></dd>
											<dd><a href="#">考拉兄弟</a></dd>
										 </div>
						
									</dl>
								</li>
								<li class="select-list">
									<dl id="select2">
										<dt class="am-badge am-round">种类</dt>
										<div class="dd-conent">
											<dd class="select-all selected"><a href="#">全部</a></dd>
											<dd><a href="#">东北松子</a></dd>
											<dd><a href="#">巴西松子</a></dd>
											<dd><a href="#">夏威夷果</a></dd>
											<dd><a href="#">松子</a></dd>
										</div>
									</dl>
								</li>
								<li class="select-list">
									<dl id="select3">
										<dt class="am-badge am-round">选购热点</dt>
										<div class="dd-conent">
											<dd class="select-all selected"><a href="#">全部</a></dd>
											<dd><a href="#">手剥松子</a></dd>
											<dd><a href="#">薄壳松子</a></dd>
											<dd><a href="#">进口零食</a></dd>
											<dd><a href="#">有机零食</a></dd>
										</div>
									</dl>
								</li>
					        
							</ul>-->
							<div class="clear"></div>
                        </div>
							<div class="search-content">
								<div class="sort">
									<li class="first" ><!--<a title="综合">综合排序</a>--></li>
									<!--<li><a title="销量">销量排序</a></li>
									<li><a title="价格">价格优先</a></li>
									<li class="big"><a title="评价" href="#">评价为主</a></li>-->
								</div>
								<div class="clear"></div>

								<ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes">
									<li ng-repeat="item in resultMap2 | limitTo:listsPerPage">
										<div class="i-pic limit">

											<a href="introduction.html#?id={{item.id}}"><img src="{{item.image}}" /></a>
											<p class="title fl">{{item.title}}</p>
											<p class="price fl">
												<b>¥</b>
												<strong>{{item.price}}</strong>
											</p>
											<p class="number fl">
												销量<span>1110</span>
											</p>
										</div>
									</li>

								</ul>

							</div>
							<div class="search-side">

								<div class="side-title">
									热门推荐
								</div>

								<li>
									<div class="i-pic check">
										<img src="../images/cp.jpg" />
										<p class="check-title">萨拉米 1+1小鸡腿</p>
										<p class="price fl">
											<b>¥</b>
											<strong>29.90</strong>
										</p>
										<p class="number fl">
											销量<span>1110</span>
										</p>
									</div>
								</li>
								<li>
									<div class="i-pic check">
										<img src="../images/cp2.jpg" />
										<p class="check-title">ZEK 原味海苔</p>
										<p class="price fl">
											<b>¥</b>
											<strong>8.90</strong>
										</p>
										<p class="number fl">
											销量<span>1110</span>
										</p>
									</div>
								</li>
								<li>
									<div class="i-pic check">
										<img src="../images/cp.jpg" />
										<p class="check-title">萨拉米 1+1小鸡腿</p>
										<p class="price fl">
											<b>¥</b>
											<strong>29.90</strong>
										</p>
										<p class="number fl">
											销量<span>1110</span>
										</p>
									</div>
								</li>

							</div>
							<div class="clear"></div>
							<!--分页 -->
							<ul class="am-pagination am-pagination-right" id="findPage" ng-repeat="ite in data.fs">
								<li><a class="selectPages1" href="javascript:;" ng-click="prevPage()" >&laquo;</a></li>
								<li class="selects" id="startPage"><a  class="selectPage" href="javascript:;" ng-click="toPage(ite.p1)" >{{ite.p1}}</a></li>
								<li class="selects"><a class="selectPage" href="javascript:;" ng-click="toPage(ite.p2)">{{ite.p2}}</a></li>
								<li class="selects"><a class="selectPage" href="javascript:;" ng-click="toPage(ite.p3)">{{ite.p3}}</a></li>
								<li class="selects"><a class="selectPage" href="javascript:;" ng-click="toPage(ite.p4)">{{ite.p4}}</a></li>
								<li class="selects"><a class="selectPage" href="javascript:;" ng-click="toPage(ite.p5)">{{ite.p5}}</a></li>
							<!--	<li class="am-hide">...</li>-->

								<!--<li class="selects"><a class="selectPage" href="javascript:;" ng-click="toPage(ite.p6)">{{ite.p6}}</a></li>-->
								<!--<li class="selects"><a class="selectPage" href="javascript:;" ng-click="toPage(ite.p7)">{{ite.p7}}</a></li>
								<li class="selects"><a class="selectPage" href="javascript:;" ng-click="toPage(ite.p8)">{{ite.p8}}</a></li>-->

								<li class="over">...</li>
								<li class="totalPage"><a class="total" href="javascript:;" ng-click="toPage(ite.p13)">{{pages}}</a></li>
								<li><a class="selectPages2" href="javascript:;" ng-click="nextPage()">&raquo;</a></li>
                                <p id="currentPage" style="display: none;">{{currentPage+1}}</p>
                                <p id="pages" style="display: none;">{{pages}}</p>
							</ul>
						</div>
					</div>



				<script>
					$(function(){
						$("#startPage").addClass("am-active");
						/*$(".am-hide").nextAll(".selects").css("display","none");*/

						var pages = $("#pages").text();
						var page =5;
						if(pages < page){
							var p = page-pages;
							if(p==1){
								$(".selects:eq(0)").nextAll(".selects").css("display","none");
							}else if(p==2){
								$(".selects:eq(1)").nextAll(".selects").css("display","none");
							}else if(p==3){
								$(".selects:eq(2)").nextAll(".selects").css("display","none");
							}else if(p==4){
								$(".selects:eq(3)").nextAll(".selects").css("display","none");
							}
						}

						$(".selectPage").click(function () {
							$(".am-active").removeClass("am-active");
							$("#startPage").removeAttr("am-active");
							$(this).parent().addClass("am-active");
						});

						$(".selectPages2").click(function () {
                           $(".am-active").removeClass("am-active");
                                $("#startPage").addClass("am-active");
                       //  $(".selects:eq(0)").children("a").css("background-color","black");
                                //var str = document.getElementById("startPage");
                               // console.log("str:"+str);
                          //  $("#startPage").children("a").css("background-color","black");

                        //    $("#startPage").attr("am-actives");
							/*var aa =$(".am-active").text();
                             if(parseInt(aa)==5){
                               $(".am-hide").nextAll(".selects").css("display","inline-block");
                               $(".am-hide").removeClass("am-hide").addClass("am-show");
                             }

                             var rr = $(".am-show");
                             if(rr.length>0){
                                 var a = $(".am-active").text();
                                 var b =$(".am-active").next(".selects").text();
                                 var c =$(".am-active").next(".selects").next(".selects").text();

                                 var a1 = parseInt(a)+1;
                                 var b2= parseInt(b)+1;
                                 var c2=parseInt(c)+1;

                                 $(".am-active > a").text(a1);
                                 $(".am-show").prev(".selects").children("a").text(5);
                                 $(".am-active").next(".selects").children("a").text(b2);
                                 $(".am-active").next(".selects").next(".selects").children("a").text(c2);
                             }

                           var aaa=$(".am-show");
                           if(aaa.length>0){
                           		$(".am-active").removeClass("am-active");
                           		$(".am-show").next(".selects").addClass("am-active");
						   }else{
							   $(".am-active").removeClass("am-active").next(".selects").addClass("am-active");
						   }*/

						});
						$(".selectPages1").click(function () {
                          /*  $(".am-active").prev(".selects").addClass("am-active");*/
                            $(".am-active").removeClass("am-active").prev(".selects").addClass("am-active");


							/*var a=$(".am-show").next(".am-active");
                            if(a.length==0){
                                $(".am-active").removeClass("am-active").prev(".selects").addClass("am-active");
                            }

                            var currentPage = $("#currentPage").val();
                            console.log("currentPage:"+currentPage);

                            var r1 =$(".am-show").next(".selects").text();
                            var r2 =$(".am-show").prev(".selects").text();
                            console.log("r1-----r2:"+r1,r2);
                            if((parseInt(r1)-1)==(parseInt(r2))){
                                $(".am-show").nextAll(".selects").css("display","none");
                                $(".am-show").removeClass("am-show").addClass("am-hide");
                                $(".am-hide").prev(".selects").addClass("am-active");
                            }else if((parseInt(r1))>(parseInt(r2))){
                                var a = $(".am-active").text();
                                var b =$(".am-active").next(".selects").text();
                                var c =$(".am-active").next(".selects").next(".selects").text();

                                var a1 = parseInt(a)-1;
                                var b2= parseInt(b)-1;
                                var c2=parseInt(c)-1;

                                $(".am-active > a").text(a1);
                                $(".am-active").next(".selects").children("a").text(b2);
                                $(".am-active").next(".selects").next(".selects").children("a").text(c2);
                            }
*/
						});
					});
				</script>




               <!-- <script>
                    $(function(){
                        $("#startPage").addClass("am-active");
                        $(".am-hide").nextAll(".selects").css("display","none");

                        var pages = $("#pages").text();
                        var page =5;
                        if(pages < page){
                           var p = page-pages;
                           if(p==1){
                               $(".selects:eq(0)").nextAll(".selects").css("display","none");
                           }else if(p==2){
                               $(".selects:eq(1)").nextAll(".selects").css("display","none");
                           }else if(p==3){
                               $(".selects:eq(2)").nextAll(".selects").css("display","none");
                           }else if(p==4){
                               $(".selects:eq(3)").nextAll(".selects").css("display","none");
                           }
                        }

                        $(".selectPage").click(function () {
                            $(".am-active").removeClass("am-active");
                            $(this).parent().addClass("am-active");
                        });

                        $(".selectPages2").click(function () {
                            var currentPage =$("#currentPage").text();
                            var pages =$("#pages").text();
                            console.log("pages-&#45;&#45;currentPage:"+pages,currentPage);
                            if($(".am-active").next(".selects").length==0){
                                if(parseInt(currentPage) <= parseInt(pages)){
                                    var t =$(".am-active").text();
                                    var t1 =parseInt(t)+1;
                                    console.log("t1t1-&#45;&#45;:"+t1);
                                    $(".am-active").children("a").text(t1);
                                }
                            }else{
                                $(".am-active").removeClass("am-active").next(".selects").addClass("am-active");
                            }
                        });

                        $(".selectPages1").click(function () {
                            var t1 =$(".am-active").text();
                            var t2 =$(".am-active").prev(".selects").text();
                            if((parseInt(t1)-1) == parseInt(t2)){
                                $(".am-active").removeClass("am-active").prev(".selects").addClass("am-active");
                            }else if((parseInt(t1)-1) > parseInt(t2)){
                                var t =$(".am-active").text();
                                var t1 =parseInt(t)-1;
                                console.log("t1t1-&#45;&#45;:"+t1);
                                $(".am-active").children("a").text(t1);
                            }
                        });
                    });
                </script>-->


					<div class="footer">
						<div class="footer-hd">
							<p>
								<a href="#">online store</a>
								<b>|</b>
								<a href="#">商城首页</a>
								<b>|</b>
								<a href="#">支付宝</a>
								<b>|</b>
								<a href="#">物流</a>
							</p>
						</div>
						<div class="footer-bd">
							<p>
								<a href="# ">关于online store</a>
								<a href="# ">合作伙伴</a>
								<a href="# ">联系我们</a>
								<a href="# ">网站地图</a>
								<a href="#">隐私权政策</a>
								<a href="#">法律声明</a>
								<a href="#">知识产权</a>
								<em>© 2019-2029 onlineStore.com 版权所有.</em>
							</p>
						</div>
					</div>
				</div>

			</div>

		<!--引导 -->
		<div class="navCir">
			<li><a href="home.html"><i class="am-icon-home "></i>首页</a></li>
			<li><a href="sort.html"><i class="am-icon-list"></i>分类</a></li>
			<li><a href="shopcart.html"><i class="am-icon-shopping-basket"></i>购物车</a></li>	
			<li><a href="../person/index.html"><i class="am-icon-user"></i>我的</a></li>					
		</div>

		<!--菜单 -->
		<div class=tip>
			<div id="sidebar">
				<div id="wrap">
					<div id="prof" class="item">
						<a href="#">
							<span class="setting"></span>
						</a>
						<div class="ibar_login_box status_login">
							<div class="avatar_box">
								<p class="avatar_imgbox"><img src="../images/no-img_mid_.jpg" /></p>
								<ul class="user_info">
									<li>用户名：sl1903</li>
									<li>级&nbsp;别：普通会员</li>
								</ul>
							</div>
							<div class="login_btnbox">
								<a href="#" class="login_order">我的订单</a>
								<a href="#" class="login_favorite">我的收藏</a>
							</div>
							<i class="icon_arrow_white"></i>
						</div>

					</div>
					<div id="shopCart" class="item">
						<a href="#">
							<span class="message"></span>
						</a>
						<p>
							购物车
						</p>
						<p class="cart_num">0</p>
					</div>
					<div id="asset" class="item">
						<a href="#">
							<span class="view"></span>
						</a>
						<div class="mp_tooltip">
							我的资产
							<i class="icon_arrow_right_black"></i>
						</div>
					</div>

					<div id="foot" class="item">
						<a href="#">
							<span class="zuji"></span>
						</a>
						<div class="mp_tooltip">
							我的足迹
							<i class="icon_arrow_right_black"></i>
						</div>
					</div>

					<div id="brand" class="item">
						<a href="#">
							<span class="wdsc"><img src="../images/wdsc.png" /></span>
						</a>
						<div class="mp_tooltip">
							我的收藏
							<i class="icon_arrow_right_black"></i>
						</div>
					</div>

					<div id="broadcast" class="item">
						<a href="#">
							<span class="chongzhi"><img src="../images/chongzhi.png" /></span>
						</a>
						<div class="mp_tooltip">
							我要充值
							<i class="icon_arrow_right_black"></i>
						</div>
					</div>

					<div class="quick_toggle">
						<li class="qtitem">
							<a href="#"><span class="kfzx"></span></a>
							<div class="mp_tooltip">客服中心<i class="icon_arrow_right_black"></i></div>
						</li>
						<!--二维码 -->
						<li class="qtitem">
							<a href="#none"><span class="mpbtn_qrcode"></span></a>
							<div class="mp_qrcode" style="display:none;"><img src="../images/weixin_code_145.png" /><i class="icon_arrow_white"></i></div>
						</li>
						<li class="qtitem">
							<a href="#top" class="return_top"><span class="top"></span></a>
						</li>
					</div>

					<!--回到顶部 -->
					<div id="quick_links_pop" class="quick_links_pop hide"></div>

				</div>

			</div>
			<div id="prof-content" class="nav-content">
				<div class="nav-con-close">
					<i class="am-icon-angle-right am-icon-fw"></i>
				</div>
				<div>
					我
				</div>
			</div>
			<div id="shopCart-content" class="nav-content">
				<div class="nav-con-close">
					<i class="am-icon-angle-right am-icon-fw"></i>
				</div>
				<div>
					购物车
				</div>
			</div>
			<div id="asset-content" class="nav-content">
				<div class="nav-con-close">
					<i class="am-icon-angle-right am-icon-fw"></i>
				</div>
				<div>
					资产
				</div>

				<div class="ia-head-list">
					<a href="#" target="_blank" class="pl">
						<div class="num">0</div>
						<div class="text">优惠券</div>
					</a>
					<a href="#" target="_blank" class="pl">
						<div class="num">0</div>
						<div class="text">红包</div>
					</a>
					<a href="#" target="_blank" class="pl money">
						<div class="num">￥0</div>
						<div class="text">余额</div>
					</a>
				</div>

			</div>
			<div id="foot-content" class="nav-content">
				<div class="nav-con-close">
					<i class="am-icon-angle-right am-icon-fw"></i>
				</div>
				<div>
					足迹
				</div>
			</div>
			<div id="brand-content" class="nav-content">
				<div class="nav-con-close">
					<i class="am-icon-angle-right am-icon-fw"></i>
				</div>
				<div>
					收藏
				</div>
			</div>
			<div id="broadcast-content" class="nav-content">
				<div class="nav-con-close">
					<i class="am-icon-angle-right am-icon-fw"></i>
				</div>
				<div>
					充值
				</div>
			</div>
		</div>
		<script>
			window.jQuery || document.write('<script src="basic/js/jquery-1.9.min.js"><\/script>');
		</script>
		<script type="text/javascript" src="../basic/js/quick_links.js"></script>

<div class="theme-popover-mask"></div>

	</body>

</html>